.container{
    background-color: cornflowerblue;
     background-size: 30%;
 height: 50%
   

}
    
   
.inizio{
     margin-left: 30%;
 margin-top: ;
 background-color: cornflowerblue;

}


.sfondo{
    background-repeat: repeat-x;
}